:root {
    --blue-ligth: #a2e5ff;
    --blue: #88cbf5;
    --blue-dark: #6eb2db;
    --grey-light: #f4f4f4;
    --grey: #bfbfbf;
    --grey-dark: #9b9b9b;
    --black: #222222;

}

body {
    background-color: #fefefe;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none !important;
    color: var(--blue);
    transition: .3s;
}

a:hover {
    color: var(--black);
}

p, label {
    font-size: 16px;
    line-height: 1.75;
    color: #6c757d !important;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: var(--black);
}

/* nav bar */
#header nav li a {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--grey-dark);
    font-size: 14px;
    transition: .3s;
}

#header nav li a:hover {
    color: var(--blue);
}

.nav-title {
    font-family: 'Bowlby One SC', cursive;
    font-size: 2em;
    color: var(--grey-dark) !important;
}

.nav-title:hover {
    color: var(--grey-dark) !important;
}

/* card */
.card-title {
    font-size: 40px;
}

.card-title a {
    font-weight: 100;
    color: var(--black);
}

.card-footer {
    background-color: var(--grey-light);
}

.card-footer a:hover {
    color: var(--blue-dark);
}

/* button primary */
.btn-primary {
    border-width: 1px;
    background-color: var(--blue);
    border-color: var(--blue-ligth);
}

.btn-primary:hover {
    background-color: var(--blue-dark);
    border-color: var(--blue);
}

.card-header {
    border-bottom: none;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* lista */
.list-link li a {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--grey-dark);
    font-size: 12px;
    transition: .3s;
}

.list-link li a:hover {
    color: var(--blue);
}
